{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
              integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous"/>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
        <script src="{% static 'app/app.js' %}"></script>
        <script src="{% static 'app/controllers.js' %}"></script>
        <script src="{% static 'app/services.js' %}"></script>
        <script src="{% static 'app/directives.js' %}"></script>
        <title>
            {% block title %} Main {% endblock %} · Vacation Mode
        </title>
    {% endblock %}
</head>
<body ng-app="todo" ng-cloak>
<div class="container">

    <div ng-controller="{% block ng_controller %}{% endblock %}">
        <div class="well white">
            {% block body %}
                base body
            {% endblock %}
        </div>
        <div class="well bg-info text-muted">
            <span class="pull-left"> For develop this site used: Django, Django Rest Framework, AngularJS, JQuery, Bootstrap</span>
            <span class="pull-right">   created at May 2017 </span>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
</html>